ul {
	display: inline-block;
	list-style: none;
}

li {
	list-style: none;
}

.menuBar {
	background-color: #fff;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.logo {
	float: left;
	margin-right: 3rem;
}

.tenants {
	float: right;
}

.logo a {
	color: #ff5a61;
	font-size: 2rem;
	font-weight: bold;
}

.tenants a {
	color: #7f7573;
	font-size: 1rem;
	line-height: 3.1rem;
}

a:link,
a:visited {
	text-decoration: none;
	border: 0;
}

a:hover,
a:active {
	color: #000;
}

/* ----- Big tablets and Laptops ----- */
@media only screen and (max-width: 1200px) {
	.logo a {
		font-size: 1.6rem;
	}
	.tenants a {
		line-height: 2.1rem;
	}
}
/* ----- Small Tablest to Small Phones ----- */
@media only screen and (max-width: 767px) {
	.logo a {
		font-size: 1.3rem;
	}
	.tenants a {
		line-height: 1.5rem;
	}
}
